<!DOCTYPE html>
<html>
    <head>
        <title>Operator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ asset('branding/brand-favicon.png') }}?v=20260313c" />
        <link rel="shortcut icon" href="{{ asset('branding/brand-favicon.png') }}?v=20260313c" />

        <link rel="stylesheet" href="{{ asset('css/pim.css', 'frontend') }}"/>
        <link rel="stylesheet" href="{{ asset('branding/brand-theme.css') }}?v=20260420operator23"/>
        <script type="text/javascript" src="{{ asset('branding/brand-theme.js') }}?v=20260420operator23"></script>

        {{ external_javascript_dependencies() }}
        <script type="text/javascript" src="{{ asset('dist/vendor.min.js', 'frontend') }} "></script>
        <script type="text/javascript" src="{{ asset('dist/main.min.js', 'frontend') }} "></script>
    </head>
    <body class="BrandShell theme-ecosystem" data-theme="ecosystem">
        <div class="app">
            <div class="AknDefault-progressContainer">
                <h3>
                    Loading ...
                </h3>
                <img src="{{ asset('bundles/pimui/images/main-loader.gif') }}"/>
                {% if true == oro_config_value('pim_ui.loading_message_enabled') %}
                <h4 class="AknDefault-progressContainer--loadingMessages">
                    {{ random(oro_config_value('pim_ui.loading_messages')|split('\n')) }}
                </h4>
                {% endif %}
            </div>
        </div>
        <div class="hash-loading-mask"></div>
    </body>
</html>
